{% extends 'RabbitHole/base.html' %}{% load static %}{% load account socialaccount %}
{% block title %}Sign up{% endblock title %}
{% block content %}
{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
          <div class="alert alert-danger alert-dismissible fade show" role="alert">
              {{ error|escape }}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        {% endfor %}
    {% endfor %}
{% endif %}
<div class="card">
  <div class="card-header text-center">Sign up with Rabbit</div>
    <div class="card-body">
      <div class="container-sm">
        <h5 class="card-title text-center">
          <a
            href="{% provider_login_url 'google'%}"
            class="btn btn-secondary w-50"
            ><i class="bi bi-google g" style="font-size: 20px"></i> Sign up</a
          >
        </h5>
        <h5 class="text-center">OR</h5>
        <br>
          <form class="signup" id="signup_form" enctype="multipart/form-data" method="post" action="{% url 'account_signup' %}">
            {% csrf_token %}
            {% for feild in form %}
                {{feild.label}}
                <div class="input-group mb-3">
                  {{feild}}
                </div>
              {% endfor %}
            </div>
            <div class="mt-5 text-center">
              <button type="submit" class="w-50 btn btn-lg btn-outline-primary text-center">Sign up</button>
            </div>
          </form>
        </div>
    </div>
  <div class="card-footer text-muted text-center">Already a member? <a class="link-secondary" href="{% url 'account_login'%}"> login</a></div>
</div>
  <!--<div class="form-group row">
    <label for="inputPassword5">Password</label>
    {{form.password1}}
    <small id="passwordHelpBlock" class="form-text text-muted">
      Your password must be 8-20 characters long, contain letters and
      numbers, and must not contain spaces, special characters, or emoji.
    </small>
  </div>
  <div class="form-group row">
    <label for="inputPassword5">Confirm Password</label>
    {{form.password2}}
    <small id="passwordHelpBlock" class="form-text text-muted">
      Your must rewrite the same password
    </small>
  </div>
  <div class="form-group row">
     <label for="inputImage">Avatar</label>
     {{form.avatar}}
  </div>-->

{% endblock content %}
