@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

/* declaring colors as vars to change theme colours easily */
:root {
    --maintheme-colour: #71ddcb;
    --maintheme-colour-lighter: #9af4e5;
    --maintheme-colour-darker: #315b54;
    --black-colour: #282a29;
    --bg-colour: #ffffff;
    --success: #5dd693;
    --error: #fc4b0b;
  }

* {
    font-family: 'Muli', sans-serif;
    padding: 0; margin: 0;
    font-size: inherit;
    box-sizing: border-box; /* account for preset border padding on elements*/
}

html {
    font-size: 60%;
    font-weight: 400;
}

/* headers */
.header {
    background-color: var(--maintheme-colour-darker);
}

body {
    background-color: var(--bg-colour);
    color: var(--black-colour)
}

img {
    width: 100%;
}

a { /* links */
    color: var(--maintheme-colour)
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #afb2b4b2;
    padding: 10px;
}
.grid-item {
    background-color: var(--bg-colour);
    border: 1px solid rgb(255, 255, 255);
    padding: 20px;
    font-size: 20px;
    text-align: center;
}
.container{
    display: flex;
    justify-content: space-between;
}

a{
   border: 2px solid rgb(12, 11, 11);
   background-color: var(--maintheme-colour-darker);
   justify-content: center;
   margin-bottom: 20px;
   width: 40px;
   height: 35px;
}

.rooms {
    background-color: var(--maintheme-colour-darker);
    overflow: hidden;
    position: relative;
    max-height: 80vh;
}