.hide-btn{
    display: none;
}
.clickable{
    cursor: pointer;
}
.side-bar-image{
    width: 340px;
    height: auto;
}
.small-p {
    font-size: 1em;
}

.remove-curser {
    cursor: default;
}

.card-image {
    width: 50px;
    height: auto;
    background-color: rgb(252, 252, 252);
    border-radius: 50%;
}

.card-body{
    background-color: #f3f3f3;;
}
.card-header{
    background-color:#e0eff0;
}
.main{
    padding-top: 50px;
}
.room-list-image{
    width: 25px;
    height: auto;
    background-color: rgb(252, 252, 252);
    border-radius: 50%;
}
@media only screen and (max-width: 991px){
    .hide-btn {
        display: block;
    }
    .remove-serach{
        display: none;
    }
}
@media only screen and (max-width: 1225px) {
    .small-p {
        font-size: 0.70em;
    }

    .main {
        padding: 0;
    }

    .removable {
        opacity: 0;
        display: none;
    }

    .h6 {
        font-size: 0.9em;
    }
}