{% extends 'RabbitHole/base.html' %} {% block content %}
<div class="container">
  <h1>Create room</h1>
</div>
{% if name == 'Room'%}
    <form method="post" enctype="multipart/form-data" action="{% url 'create_room'%}">
{% elif name == 'Post' %}
    <form method="post" enctype="multipart/form-data" action="{% url 'create_post' room_name=room.name %}">
{% else %}
    <form method="post" enctype="multipart/form-data" action="{% url 'create_reply' room_name=post.room.name post_id=post.id post_slug=post.slug%}">
{% endif %}
        {% csrf_token %}
        {{ form.as_p }}
        <div>
          <button type="submit">submit</button>
        </div>
    </form>

{% endblock content %}