{% extends 'RabbitHole/base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'RabbitHole/css/test.css'%}">
<script defer src="{% static 'RabbitHole/js/search.js' %}"> </script>
{% endblock head %}
{% block title %}Home{% endblock title %}
{% block content %}
<!-- Search modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Search</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body mb-3">
                <input id="search-bar" class="form-control me-2" type="search" type="text" placeholder="Search" aria-label="Search">
            </div>
            <div>
                <h5 class="h5 px-2"> Result: </h5>
                <ul id="search-result" class="list-group list-group-flush">
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="row align-items-start main">
    <div class="col-2 sticky-top main removable">
        <div class="card mt-3">
            <div class="card-header">
                Rooms
            </div>
            <ul class="list-group list-group-flush">
                {% if rooms %}
                    {% for room in rooms %}
                        <li class="list-group-item">
                            <a class="nav-link" href="{% url 'room' room.name%}">
                                <img class="room-list-image" src="{{room.avatar.url}}" alt="{{room.name}}">
                                <span class="mx-2">r/{{room.name}}</span>
                            </a>
                        </li>
                    {% endfor %}
                {% endif %}
            </ul>
        </div>
    </div>
    <div class="col main">
        {% include 'RabbitHole/post-comp.html' %}
    </div>
    <div class="col-2 sticky-top main removable">
        <div class="card mt-3">
            {% if request.user.is_authenticated %}


                <img class="card-img-top" alt="...">
                <div class="card-title h3 mt-2">...</div>
                <div class="card-body">
                    <button class="btn btn-secondary btn w-100"          onclick="location.href ='{% url 'edit_profile' request.user.username %}'">Edit rabbit profile</button>
                    <button class="btn btn-secondary btn mt-2 w-100"     onclick="location.href = '{% url 'create_room'%}'">Create a rabbit hole</button>

                    
            {% else %}
                <div class="h4 px-2 mt-2">Oh no, you're not logged in</div>
                <div class="card-body">
                    <button onclick="location.href = '{% url 'account_login' %}'" class="btn btn-secondary btn w-100">Sign-in</button>
                    <button onclick="location.href = '{% url 'account_signup' %}'" class="btn btn-secondary btn w-100 mt-2">Sign-up</button>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}