{% extends 'RabbitHole/base.html' %}

{% load static %}

{% block css %}
{% endblock css %}

{% block content %}
<div class="container">
<div class="row">
    <div class = "col">
        <h4 class="display-4 mr-5"><img src="{% static 'RabbitHole\images\logo.jpg' %}" class = "img-fluid" style="width: 10%" alt="{{post.room.name}}">    Rabbit</h4> 
    </div>
    <div class = "col">
        {% if request.user.is_authenticated %}
            <a href="{% url 'create_room'%}" class = "btn btn-primary bg-success float-right ">Create new Rabbit Hole</a><br>
        {% endif %}
    </div>
</div>


<br>
    <div class="row">
        <!-- rooms list navbar -->
        <div class="col-2">
            <div>Rooms</div>
            {% if rooms %}
                <ul class="list-unstyled">
                    {% for room in rooms %}
                        <li><a href="{% url 'room' room_name=room.name %}" class = "text-decoration-none">{{room.name}}</a></li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <!-- rooms list navbar end -->

        <!-- posts by users -->
        <div class="col-6">
            {% if posts %}
                {% for post in posts %}
                    <span ><a href="{% url 'user_page' username=post.user.username %}"><img style = "width: 5%; border-radius: 50%;" src="{{post.user.avatar.url}}"> {{post.user.username}}</a></span>
                    <span style="position:relative;left:55%;" ><a href="{% url 'room' room_name=post.room.name %}"><img style = "width: 5%; border-radius: 50%;" src="{{post.room.avatar.url}}"> {{post.room.name}}</a></span>
                    <hr>
                    <p onclick="location.href = '{% url 'post' room_name=post.room.name post_id=post.id post_slug=post.slug %}'" class="border border-info p-2">{{post.content|slice:":360"}}</p>
                    {% if post.image %}
                        <br/>
                        <img src="{{post.image.url}}" style="width: 25%" alt="{{post.room.name}}">
                    {% endif %}


                    <button id="{{ post.id }}like" class="btn btn-secondary {% if post.likestatus == True %}btn-success{% endif %}" onclick="likepost({{ post.id }})"> Like </button>
                    <span  class="btn btn-info disabled" id="likes-{{ post.id }}">{{ post.countlikes }}</span>
                    <button id="{{ post.id }}dislike" class="btn btn-secondary{% if post.likestatus == False %} btn-danger{% endif %}" onclick="dislikepost({{ post.id }})">Dislike</button>


                    <span class="float-right" >
                        <span class = "text-secondary">{{post.created_at|timesince}} ago</span>
                        <button class="btn btn-info">Reply</button>
                    </span>
                    <hr>
                {% endfor %}
            {% else %}
                <div>Posts go here</div>
            {% endif %}
        </div>
        <!-- end of posts -->

        <!-- user account box -->
        <div class="col-4">
            {% if request.user.is_authenticated %}
                <img src="{{request.user.avatar.url}}" style="width: 25%" alt="{{request.user.username}}">
                {{request.user.username}}
            {% else %}
                <div>Oh no, you aren't logged in!</div>
            {% endif %}<hr>
            {% if request.user.is_authenticated %}
                <button class="btn btn-primary">Edit rabbit profile</button>
                <button class="btn btn-info" onclick = "location.href = '{% url 'account_logout'%}'">Log out</button>
            {% else %}
                <button onclick="location.href = '{% url 'account_login' %}'" class="btn btn-primary">Sign-in</button>
                <button onclick="location.href = '{% url 'account_signup' %}'" class="btn btn-primary">Sign-up</button>
            {% endif %}
        </div>
        <!-- end of user account box -->
    </div>
</div>
<script src="{% static 'RabbitHole/js/likemanagement.js' %}"></script>
{% endblock content %}
