{% extends 'RabbitHole/base.html' %} {% load static %}
{% block head %} <link rel="stylesheet" href="{% static 'RabbitHole/css/test.css'%}"> {% endblock head %}
{% block title %}Post{% endblock title %}
{% block content %}
<div class="row align-items-start main">
  <div class="col main">
    <div class="container-xl">
      <!-- Post -->
      <div class="py-3"></div>
      <div id="posts" class="card my-5">
          <div class="card-header">
            <div class="d-flex mb-1">
                <div class="px-2">
                  <a href="{% url 'user_page' post.user.username %}">
                    <img class="card-image mr-4" src="{{post.user.avatar.url}}" alt="{{post.user.username}}" >
                    </a>
                </div>
                <div class="px-2">
                    <a class="nav-link mt-3 pl-5" href="{% url 'user_page' post.user.username %}">u/{{post.user.username}}</a>
                </div>
                {% if request.user == post.user %}
                <div class="ms-auto pt-1">
                      <button type="button" class="btn delete-post" data-bs-toggle="modal" data-bs-target="#staticBackdrop" data-post-id="{{post.id}}"><i class="bi bi-trash3"></i></button>
               </div>
               {% endif %}
            </div>
          </div>
        <div class="card-body">
          <h5 class="card-title">{{post.title}}</h5>
            <p class="card-text small-p text-muted">
              {% if post.content%}
                  {{post.content}}
              {% elif post.image%}
                  <img src="{{post.image.url}}"  class="img-fluid" alt="{{post.user.username}}">
              {% endif %}
            </p>
        </div>
        <div class="card-footer text-muted">
            <div class="d-flex justify-content-between">
                <div class="d-flex align-items-center">
                    <button id="{{ post.id }}like" class="btn btn-secondary btn-sm pb-2 mr-1 mb-0 {% if post.likestatus == True %}btn-success{% endif %}" onclick="likepost({{ post.id }})"> <i class="bi bi-caret-up"></i> </button>
                    <span  class="btn btn-info btn-sm pb-2 mx-1 mb-0 remove-curser disabled" id="likes-{{ post.id }}">{{ post.countlikes }}</span>
                    <button id="{{ post.id }}dislike" class="btn btn-secondary btn-sm pt-2 ml-1 mb-0 {% if post.likestatus == False %} btn-danger{% endif %}" onclick="dislikepost({{ post.id }})"><i class="bi bi-caret-down"></i></button>
                </div>
                <div class="d-flex align-items-center">
                    <button id="{{ post.id }}comment" class="btn btn-info btn-sm pt-1 mb-0" onclick="location.href='{% url 'create_reply' room_name=post.room.name post_id=post.id post_slug=post.slug %}'"><i class="bi bi-reply-fill"></i> {{ post.num_replies }} </button>
                </div>
                <div class="d-flex align-self">
                    <p class="align-self-center mb-0 small-p">{{post.created_at|timesince}} ago</p>
                </div>
            </div>
        </div>
      </div>
      {% if replies %}
        <div id="replies" class="container-xl">
              <h5 class="h5"> Replies ({{replies.count}}) </h5>
              {% for reply in replies %}
                  <div class="card my-1">
                      <div class="card-header header-reply">
                        <div class="d-flex mb-1">
                            <div class="px-2">
                              <a href="{% url 'user_page' reply.user.username %}">
                                <img class="card-image mr-4" src="{{reply.user.avatar.url}}" alt="{{reply.user.username}}" >
                                </a>
                            </div>
                            <div class="px-2">
                                <a class="nav-link mt-3 pl-5" href="{% url 'user_page' reply.user.username %}">u/{{reply.user.username}}</a>
                            </div>
                            {% if request.user == reply.user %}
                            <div class="ms-auto">
                              <button type="button" class="btn delete-reply" data-bs-toggle="modal" data-bs-target="#staticBackdrop" data-reply-id="{{reply.id}}"><i class="bi bi-trash3"></i></button>
                           </div>
                           {% endif %}
                        </div>
                      </div>      
                      <div class="card-body">
                        <div class="card-title"> <h6 class="h6"> {{reply.title}} </h6></div>
                            {% if reply.content%}
                              <p class="small-p"> {{reply.content}}</p>
                              {% elif reply.image%}
                              <img class="img-fluid" src="{{reply.image.url}}" alt="">
                            {% endif %}
                      </div>
                      <div class="card-footer text-muted">
                          <div class="d-flex justify-content-between">
                              <div class="d-flex align-items-center">
                                  <button id="{{ reply.id }}like" class="btn btn-secondary btn-sm pb-2 mr-1 mb-0 {% if reply.likestatus == True %}btn-success{% endif %}" onclick="likereply({{ reply.id }})"> <i class="bi bi-caret-up"></i> </button>
                                  <span  class="btn btn-info btn-sm pb-2 mx-1 mb-0 remove-curser disabled" id="likes-{{ reply.id }}">{{ reply.countlikes }}</span>
                                  <button id="{{ reply.id }}dislike" class="btn btn-secondary btn-sm pt-2 ml-1 mb-0 {% if reply.likestatus == False %} btn-danger{% endif %}" onclick="dislikereply({{ reply.id }})"><i class="bi bi-caret-down"></i></button>
                              </div>
                              <div class="ms-auto">
                                  <p class="align-self-center mb-0 small-p">{{reply.created_at|timesince}} ago</p>
                              </div>
                          </div>
                      </div>
                    </div>
                {% endfor %}
                  <div class="my-5 py-5"></div>
        </div>
      {% else %}
          <h5 class="h5"> Replies (0) </h5>
      {% endif %}
    </div>
  </div>
  <div class="col-2 sticky-top main removable">
    <div class="card mt-3">
        <img src="{{post.room.avatar.url}}" class="card-img-top" alt="{{post.room.name}}">
        <div class="card-footer">
          <h3 class="h3"> <a class="nav-link" href="{% url 'room' post.room.name%}">r/{{post.room.name}}</a></h3>
        </div>
    </div>
  <div>
</div>
{% endblock content %}