{% extends 'RabbitHole/base.html' %}{% load static %}{% block css %}
<link rel="stylesheet" href="{% static 'RabbitHole/css/main.css'%}" />
{% endblock css %}

{% block content %}
<div class="container">
    <h1>{{post.room.name}} - post</h1>
</div>

<div class="grid-container">
  <div class="grid-item">
    <div> {{post.content}} </div>
    {% if post.image %}
        <hr>
        <img src="{{post.image.url}}" alt="{{post.room.name}}">
    {% endif %}
    {% if request.user in post.room.participants.all %}
      <div><button onclick="location.href='{% url 'create_reply' room_name=post.room.name post_id=post.id post_slug=post.slug %}'"> Reply </button></div>
    {% endif %}
    {% if replies %} {% for reply in replies %}
    <div> 
      <span><img src="{{reply.user.avatar.url}}" alt="{{reply.user.username}}" width="120" height="100"></span> <span> - {{reply.user.username}}</span>
      <p>
        {{reply.content}}
      </p>
    </div>
      <hr>
    {% endfor %}
    {% endif %}
    <hr>
  </div>
  <div class="grid-item">
    <img src="{{post.room.avatar.url}}" alt="{{post.room.name}}">
    <hr>
      <button id="{{ post.id }}like" class="btn btn-secondary {% if post.likestatus == True %}btn-success{% endif %}" onclick="likepost({{ post.id }})"> Like </button>
      <span  class="btn btn-info disabled" id="likes-{{ post.id }}">{{ post.countlikes }}</span>
      <button id="{{ post.id }}dislike" class="btn btn-secondary{% if post.likestatus == False %} btn-danger{% endif %}" onclick="dislikepost({{ post.id }})">Dislike</button>
  </div>  
</div>
<script src="{% static 'RabbitHole/js/likemanagement.js' %}"></script>
{% endblock content %}