{% extends 'RabbitHole/base.html' %}{% load static %}{% block head %}
<link rel="stylesheet" href="{% static 'RabbitHole/css/test.css' %}">
<script defer src="{% static 'RabbitHole/js/room.js'%}"></script>
{% endblock head %}
{% block title %}{{room.name}}{% endblock title %}
{% block content %}

<header class="py-5 bg-image-full" style="background-image: url('{% static 'RabbitHole/images/bg.png' %}'); background-size: cover; background-repeat: no-repeat;">
  <div class="text-center my-5">
      <img class="img-fluid rounded-circle mb-4" src="{{room.avatar.url}}" alt="{{room.name}}" style="width: 10%;" />
      <h1 class="text-white fs-3 fw-bolder">r/{{room.name}}</h1>
  </div>
</header>
<div class="row align-items-start main">
    <div class="col-3 sticky-top main removable"> 
        <div class="card mt-3">
            <div class="card-header">
                Members
            </div>
            <ul id="members" class="list-group list-group-flush" data-curuser="{{request.user.username}}">
                {% if room.participants %}
                    {% for participant in room.participants.all %}
                        <li class="list-group-item">
                            <a class="nav-link" href="{% url 'user_page' participant.username%}">
                                <img class="room-list-image" src="{{participant.avatar.url}}" alt="{{participant.username}}">
                                <span class="mx-2">u/{{participant.username}}</span>
                            </a>
                        </li>
                    {% endfor %}
                {% endif %}
            </ul>
        </div>
    </div>
    <div class="col main">
        {% include 'RabbitHole/post-comp.html' %}
    <div>
</div>
{% endblock content %}