{% extends 'RabbitHole/base.html' %}{% load static %}{% block css %}
<script defer src="{% static 'RabbitHole/js/room.js'%}"></script>
{% endblock css %}
{% block title %}{{room.name}}{% endblock title %}
{% block content %}


<div class="grid-container">
  <div class="grid-item">
    <div>members</div>
    <ul id="members" data-curuser="{{request.user.username}}">
    {% for participant in room.participants.all %}
        <li>
            <a href="{% url 'user_page' username=participant.username %}">{{participant.username}}</a>
        </li>
    {% endfor %}
    </ul>
  </div>
  <div class="grid-item">
    {% if posts %}
        {% for post in posts %}
            <div>{{post.content}} <hr></div>
            <a style=" border: 2px soild grey" href="{% url 'post' room.name post.id post.slug%}"> view post</a>
        {% endfor %}
    {% else %}
        <div>Posts go here</div>
    {% endif %}

  </div>
  <div class="grid-item">
    {% if room.avatar %}
    <img src="{{room.avatar.url}}" alt="{{room.name}}">
    {% endif %}
    <hr>
    {{room.name}}
  </div>  
</div>
{% endblock content %}